<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[AppBase.Common]*,[AppBase.Services]*,[AppBase.Data.Core]*,[App.Data.Netezza]*,[JustData.Application]*,[JustData.ViewModels]*</Include>
          <ExcludeByFile>**/*.Designer.cs,**/*.g.cs,**/*.g.i.cs,**/Generated/**</ExcludeByFile>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SingleHit>false</SingleHit>
          <UseSourceLink>false</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
